.attribution {
    font-size: 11px; text-align: center;
    background-color: hsl(32, 36%, 77%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
  margin-top: 150px;
}



.produkt {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  overflow: hidden;
  max-width: 600px;
}

.obrazek img {
  width: 100%;
  height: 100%;
  display: block;
}

.obrazek{
    flex: 1;
}



.text {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.nadpis {
  color: hsl(228, 12%, 48%);
  margin-bottom: 20px;
}
.nazev {
  letter-spacing: 5px;
  color: hsl(212, 21%, 14%);
  margin-bottom: 15px;
    font-family: 'Fraunces', serif;
    font-size: 24px;
}



.popis {
  color: hsl(228, 12%, 48%);
  margin-bottom: 20px;
  line-height: 1.6;
}

.cena {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.cena1 {
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 28px;
}

.cena2 {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.tlacitko {
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tlacitko:hover {
  background-color: hsl(158, 42%, 18%);
}

.kosik{
  height: 1em;
}




@media (max-width: 600px) {
  .produkt {
    flex-direction: column;
    max-width: 350px;
  }

  .obrazek img {
    height: auto;
    width: 100%;
  }

  .text {
    padding: 20px;
  }

  .nazev {
    font-size: 22px;
  }

  .tlacitko {
    width: 100%;
  }
}
